<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Leaflet Routing Machine Example</title>
    <!-- Leaflet CSS -->
    <link
      rel="stylesheet"
      href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
    />

    <!-- Leaflet Routing Machine CSS -->
    <link
      rel="stylesheet"
      href="https://unpkg.com/leaflet-routing-machine@3.2.12/dist/leaflet-routing-machine.css"
    />

    <!-- Leaflet and Routing Machine JS -->
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
    <script src="https://unpkg.com/leaflet-routing-machine@3.2.12/dist/leaflet-routing-machine.js"></script>
  </head>
  <body>
    <div id="map" style="width: 100%; height: 500px"></div>
    <form id="route-form">
      <label for="start">Starting Coordinates:</label>
      <input
        type="text"
        id="start"
        placeholder="Enter starting coordinates (e.g., lat,lng)"
        required
      />
      <br />
      <label for="end">Ending Coordinates:</label>
      <input
        type="text"
        id="end"
        placeholder="Enter ending coordinates (e.g., lat,lng)"
        required
      />
      <br />
      <input type="submit" value="Find Walkable Route" />
    </form>

    <script>
      var map = L.map("map").setView([19.72293, -101.18551], 18); // Initial map view coordinates and zoom level

      // Add the base OpenStreetMap tile layer
      L.tileLayer("https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png", {
        maxZoom: 19,
      }).addTo(map);

      var control = L.Routing.control({
        waypoints: [],
        router: L.Routing.mapbox(
          "",
          {
            profile: "mapbox/walking", // Specify the profile as 'mapbox/walking'
          }
        ),
        routeWhileDragging: true,

        show: false,
      }).addTo(map);

      // Event handler for the form submission
      document
        .getElementById("route-form")
        .addEventListener("submit", function (e) {
          e.preventDefault();
          var startInput = document.getElementById("start").value;
          var endInput = document.getElementById("end").value;

          var startCoords = startInput.split(",");
          var endCoords = endInput.split(",");

          if (startCoords.length === 2 && endCoords.length === 2) {
            control.setWaypoints([
              L.latLng(parseFloat(startCoords[0]), parseFloat(startCoords[1])),
              L.latLng(parseFloat(endCoords[0]), parseFloat(endCoords[1])),
            ]);
          } else {
            alert('Please enter valid coordinates in the format "lat,lng".');
          }
        });
    </script>
  </body>
</html>

